<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="http://localhost:3000/" />
    
	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="/">
								<img src="images/logo/logo.png" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="/">Trang chủ</a></li>
								<!-- <li class="drop"><a href="#">Cửa hàng</a>
									<div class="megamenu dropdown">

										<ul class="item item01">
											<li class="title">Trang</li>
											<li><a href="my-account.html">My Account</a></li>
											<li><a href="/cart">Giỏ hàng</a></li>
											<li><a href="/order">Thanh toán(phải có sản phẩm)</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="error404.html">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
										</ul>

									</div>
								</li> -->
								<li class="drop"><a href="/cate">Danh mục</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li class="title">Danh sách danh mục</li>
											<% cate.forEach(function(ca){ %>
												<li><a href="/cate/<%= ca.unsignedName %>.<%= ca._id%>.html"><%= ca.name %> </a></li>
											<% })%>
											
										</ul>

									</div>
								</li>
							</ul>
						</nav>
					</div>
					<% var total = 0;  var sl = 0;  if(data){ data.forEach(function(item){ total += item.tien; sl += parseInt(item.soluong)  %>
						<%})}%>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center ">
							
							<div class="md-form active-cyan-2 "  style="margin-right: 12px;">
								<form action="" method="POST">
									<input class="form-control" name="find" id="find" type="text" placeholder="Nhập dữ liệu" aria-label="Search ">   
								</form>
							</div>
							           
							<li class="shopcart"><a class="cartbox_active" href="#"><span class="product_qun"><%= sl %></span></a>
								<!-- Start Shopping Cart -->
								<div class="block-minicart minicart__active">
									<div class="minicart-content-wrapper">
										<div class="micart__close">
											<span>Đóng</span>
										</div>
										<div class="items-total d-flex justify-content-between">
											<span><%= sl %> sản phẩm</span>
											<span>Tổng tiền</span>
										</div>
										<div class="total_amount text-right">
											<span><%= total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</span>
										</div>
										<div class="mini_action checkout">
											<a class="checkout__btn" href="/order">Chuyển đến thanh toán</a>
										</div>
										<div class="single__items">
											<div class="miniproduct">
											<% var total = 0;  var sl = 0;  if(data){ data.forEach(function(item){ total += item.tien; sl += parseInt(item.soluong)  %>
												<div class="item01 d-flex mt--20">
													<div class="thumb">
														<a href="/detail/<%= item.item.unsignedName%>.<%= item.item._id%>.<%= item.item.cateId%>.html"><img src="upload/<%= item.item.image%>" alt="product images"></a>
													</div>
													<div class="content">
														<h6><a href="/detail/<%= item.item.unsignedName%>.<%= item.item._id%>.<%= item.item.cateId%>.html"><%= item.item.name%></a></h6>
														<span class="prize"><%= item.tien.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun">Số lượng: <%= item.soluong%></span>
															<ul class="d-flex justify-content-end">
																<!-- <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li> -->
																<!-- <li><a href="/cart"><i  class="zmdi zmdi-delete delCart"></i></a></li> -->
															</ul>
														</div>
													</div>
												</div>
												<%})}%>
											</div>
										</div>
										<div class="mini_action cart">
											<a class="cart__btn" href="/cart">Xem và chỉnh sửa giỏ hàng</a>
										</div>
									</div>
								</div>
								<!-- End Shopping Cart -->
							</li>
							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
		
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>Xin chào: </span> <span class="name" >Khách</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
															<% if(kiemtra == true) { %>
																<div class="header__account">
																	<span><a href="/logout.html">Đăng xuất</a></span>																		
																</div>
																<%} else{ %>
																	<span><a href="/user">Đăng nhập</a></span>
																<%}%>
														<!-- <span><a href="#">Compare Product</a></span> -->
														<!-- <span><a href="#">My Account</a></span>
														<span><a href="#">My Wishlist</a></span> -->
														<!-- <span><a href="#">Create An Account</a></span> -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<!-- <div class="aa-search-box">
								<form action="">
								<input type="text" name="" id="" placeholder="Search here ex. 'man' ">
								<button type="submit"><span class="fa fa-search"></span></button>
								</form>
							</div> 	 -->
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="/">Trang chủ</a></li>
								<!-- <li><a href="#">Pages</a>
									<ul>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart.html">Cart Page</a></li>
										<li><a href="checkout.html">Checkout Page</a></li>
										<li><a href="wishlist.html">Wishlist Page</a></li>
										<li><a href="error404.html">404 Page</a></li>
										<li><a href="faq.html">Faq Page</a></li>
										<li><a href="team.html">Team Page</a></li>
									</ul>
								</li> -->
								<li><a href="/cate">Danh mục sản phẩm</a>
									<ul>
										<% cate.forEach(function(ca){ %>
											<li><a href="/cate/<%= ca.unsignedName %>.<%= ca._id%>.html"><%= ca.name %> </a></li>
										<% })%>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->	
			</div>		
		</header>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<!-- <div class="brown--color box-search-content search_active "> -->
			<!-- <form id="search_mini_form" class="minisearch" action="#" method="POST">
				<div class="field__search">
					<input type="text" id="find" name="find" placeholder="Nhập danh mục, sản phẩm hoặc tên tác giả">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div> -->
			
		<!-- </div> -->