<% include ./layout/header.ejs %>

<base href="http://localhost:3000/" />

<div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap mg-t-30">
                        Chào mừng <span class="name" ></span> đã đến trang quản lý sản phẩm
                    </div>
                </div>
            </div>
        </div>
    </div>
   
<% include ./layout/footer.ejs %>
