<% include ./layout/header.ejs %>

<div class="ht__bradcaump__area bg-image--7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Giỏ hàng</h2>
                        <nav class="bradcaump-content">
                          <a class="breadcrumb_item" href="/">Trang chủ</a>
                          <span class="brd-separetor">/</span>
                          <span class="breadcrumb_item active">Giỏ hàng</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- cart-main-area start -->
    <div class="cart-main-area section-padding--lg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 ol-lg-12">
                    <form action="#">               
                        <div class="table-content wnro__table table-responsive">
                            <table>
                                <thead>
                                    <tr class="title-top">
                                        <th class="product-thumbnail">Hình ảnh</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-total">Tổng</th>
                                        <th class="product-update">Cập nhật</th>
                                        <th class="product-remove">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var total = 0; if(data){ data.forEach(function(item){ total += item.tien %>
                                    <tr>
                                        <td class="product-thumbnail"><a href="/detail/<%= item.item.unsignedName%>.<%= item.item._id%>.<%= item.item.cateId%>.html"><img src="upload/<%= item.item.image%>" alt="product img"></a></td>
                                        <td class="product-name"><a href="#"><%= item.item.name%></a></td>
                                        <td class="product-price"><span class="amount"><%= item.item.price%> đ</span></td>
                                        <td class="product-quantity"><input id= "<%= item.item._id%>" type="number" value="<%= item.soluong%>" name="quantity[40]"></td>
                                        <td class="product-subtotal"><%= item.tien.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</td>
                                        <td><a href="javascript:;" class="height-auto btn-sm updateCart" id="<%= item.item._id%>">Cập nhật</a></td>
										  <td><a href="javascript:;" class=" height-auto btn-sm delCart" id="<%= item.item._id%>">X</a></td>
                                    </tr>
                                    <%})}%> 
                                </tbody>
                            </table>
                        </div>
                    </form> 
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="cartbox__total__area">
                        <div class="cartbox-total d-flex justify-content-between">
                            <ul class="cart__total__list">
                                <li>Tổng tiền hàng</li>
                                <li>Tiền phụ</li>
                            </ul>
                            <ul class="cart__total__tk">
                                <li><%= total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</li>
                                <li>0 đ</li>
                            </ul>
                        </div>
                        <div class="cart__total__amount">
                            <span>Tổng số tiền phải trả</span>
                            <span><%= total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</span>
                        </div>
                    </div>
                    <div class="cartbox__btn">
                        <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                            <li><a href="/">Tiếp tục mua hàng</a></li>
                            <li><a href="/order">Thanh toán</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>
<% include ./layout/footer.ejs %>
