<% include ./layout/header.ejs %>
<!-- Start Slider area -->
<base href="http://localhost:3000/" />
<div class="ht__bradcaump__area bg-image--7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Danh mục sản phẩm</h2>
                    <nav class="bradcaump-content">
                      <a class="breadcrumb_item" href="/">Trang chủ</a>
                      <span class="brd-separetor">/</span>
                      <span class="breadcrumb_item active">Danh mục sản phẩm</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--cat">
                        <h3 class="wedget__title">Danh mục sản phẩm</h3>
                        <ul>
                            <% cate.forEach(function(ca){ %>
                                <li><a href="/cate/<%= ca.unsignedName %>.<%= ca._id%>.html"><%= ca.name %> </a></li>
                            <% })%>
                            <!-- <li><a href="#">Biography <span>(3)</span></a></li> -->

                        </ul>
                    </aside>
                    <!-- <aside class="wedget__categories pro--range">
                        <h3 class="wedget__title">Filter by price</h3>
                        <div class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <form action="#" method="GET">
                                    <div id="slider-range"></div>
                                    <div class="slider__range--output">
                                        <div class="price__output--wrap">
                                            <div class="price--output">
                                                <span>Price :</span><input type="text" id="amount" readonly="">
                                            </div>
                                            <div class="price--filter">
                                                <a href="#">Filter</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside> -->

                </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <div class="shop__list nav justify-content-center" role="tablist"> -->
                             <!--    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i class="fa fa-list"></i></a> -->
                            <!-- </div>
                            <p>Showing 1–12 of 40 results</p>
                            <div class="orderby__wrapper"> -->
                                <!-- <span>Sort By</span>
                                <select class="shot__byselect">
                                    <option>Default sorting</option>
                                    <option>HeadPhone</option>
                                    <option>Furniture</option>
                                    <option>Jewellery</option>
                                    <option>Handmade</option>
                                    <option>Kids</option>
                                </select> -->
                            <!-- </div>
                        </div> -->
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row">

                            <!-- Start Single Product -->
                            <%   cate.forEach(function(ca){ var id = 0; %>
                                <%  product.forEach(function(pro){ if(id < 50) { if(pro.cateId == ca._id){ id ++ ; %>
                            <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="product__thumb">
                                    <a class="first__img" href="/detail/<%= pro.unsignedName%>.<%= pro._id%>.<%= pro.cateId%>.html"><img src="upload/<%= pro.image %>" alt="product image"></a>
                                    <!-- <a class="second__img animation1" href="single-product.html"><img src="images/books/10.jpg" alt="product image"></a> -->
                                    <div class="hot__box">
                                        <span class="hot-label"><%= ca.name %></span>
                                    </div>
                                </div>
                                <div class="product__content content--center">
                                    <h4><a href=""><%= pro.name %></a></h4>
                                    <ul class="prize d-flex">
                                        <li><%= pro.price %> đ</li>
                                        <!-- <li class="old_prize">$35.00</li> -->
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" href="/add-cart.<%= pro._id %>"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <!-- <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li> -->
                                                <!-- <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li> -->
                                                <!-- <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <% }}})%>
						<% })%>

                            <!-- End Single Product -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include ./layout/footer.ejs %>
