<% include ./layout/header.ejs %>
<base href="http://localhost:3000/" />
<div class="ht__bradcaump__area bg-image--7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Thanh toán</h2>
                        <nav class="bradcaump-content">
                          <a class="breadcrumb_item" href="/">Trang chủ</a>
                          <span class="brd-separetor">/</span>
                          <span class="breadcrumb_item active">Thanh toán</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Checkout Area -->
    <section class="wn__checkout__area section-padding--lg bg__white">
        <div class="container">
            <form action="" method="post" novalidate="novalidate" onsubmit = "return validateForm()">
            <div class="row">
                  
                <div class="col-lg-6 col-12">
                    <div class="customer_details">
                            <% if(success_msg != ''){ %> 
                                <div class="alert alert-success"><%= success_msg%></div>
                            <% } %>
                            <% if(errors) { %>
                            <div class="alert alert-danger">
                                <% errors.forEach(function(e){ %>
                    
                                    <%= e.msg %> <br/>
                                <%});%>
                    
                            </div>
                            <% };%>
        
                        <h3>Chi tiết thanh toán</h3>
                        <div class="customar__field">
                            <div class="input_box">
                                <label>Họ tên <span>*</span></label>
                                <input id="name" name="name" type="text" value="<%= user.fullname%>" placeholder="Họ tên" required="required">
                            </div>
                            <div class="input_box">
                                <label>Địa chỉ <span>*</span></label>
                                <input id="diachi" name="diachi" type="text" placeholder="Địa chỉ" required="required">
                            </div>
                            <div class="margin_between">
                                <div class="input_box space_between">
                                    <label>Phone <span>*</span></label>
                                    <input name="phone" id="phone" type="text" placeholder="Phone" required="required">
                                </div>

                                <div class="input_box space_between">
                                    <label>Email <span></span></label>
                                    <input  name="email" id="email" value="<%= user.email%>" type="email">
                                </div>
                            </div>

                            <div class="input_box">
                                <label>Ghi chú <span></span></label>
                                <input name="ghichu" id="ghichu" type="text">
                            </div>
                            
                        </div>

                    </div>
            
                </div>
                <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
                    <div class="wn__order__box">
                        <h3 class="onder__title">Đơn hàng của bạn</h3>
                        <ul class="order__total">
                            <li>Sản phẩm</li>
                            <li>Toàn bộ</li>
                        </ul>
                        <ul class="order_product">
                            <% var total = 0; if(data){ data.forEach(function(item){ total += item.tien %>
                                <% var tong = parseInt(item.item.price) *  parseInt(item.soluong) %>
                            <li><%= item.item.name%> x <%= item.soluong%><span></span></li>
                            <%})}%>
                        </ul>
                        <ul class="shipping__method">
                            <li>Tổng giỏ hàng <span><%= total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</span></li>
                            <li>Phí ship <span>0 đ</span></li>
                            
                        </ul>
                        <ul class="total__amount">
                            <li>Số tiền phải trả <span><%= total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</span></li>
                        </ul>
                    </div>
                    <br>
                    <div class="form-group">	
                      <a href="/" ><button class="btn btn-lg btn-block" type="submit"  id="submit_id">Đặt Hàng</button></a>
                    </div>
                </div>
            </div>
        </form>

        </div>
    </section>
    <% include ./layout/footer.ejs %>
