       
<% include ./layout/header.ejs %>
<!-- Start Slider area -->
<base href="http://localhost:3000/" />

        <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
        	<!-- Start Single Slide -->
	        <!-- <div class="slide animation__style10 bg-image--1 fullscreen align__center--left ">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-lg-12">
	            			<div class="slider__content">
		            			<div class="contentbox">
		            				<h2>Mua <span>sách </span></h2>
		            				<h2>của <span>bạn </span></h2>
		            				<h2>ở đây</h2>
				                   	<a class="shopbtn" href="/cate">Mua ngay</a>
		            			</div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div> -->
            <!-- End Single Slide -->
        	<!-- Start Single Slide -->
	        <div class="slide animation__style10 bg-image--7 fullscreen align__center--left">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-lg-12">
	            			<div class="slider__content">
		            			<div class="contentbox">
		            				<h2>Mua <span>sách </span></h2>
		            				<h2>của <span>bạn </span></h2>
		            				<h2>ở đây</h2>
				                   	<a class="shopbtn" href="/cate">Mua ngay</a>
		            			</div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div>
            <!-- End Single Slide -->
        </div>
        <!-- End Slider area -->
		<!-- Start BEst Seller Area -->
		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">Sản phẩm <span class="color--theme"> Mới</span></h2>
							<p>Sản phẩm mới tri thức mới</p>
						</div>
					</div>
				</div>
				
				<div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
						<!-- Start Single Product -->
						<%   cate.forEach(function(ca){ var id = 0; %>
							<%  product.forEach(function(pro){ if(id < 2) { if(pro.cateId == ca._id){ id ++ ; %>
						<div class="product product__style--3">
							<div class="col-lg-3 col-md-4 col-sm-6 col-12">
								<div class="product__thumb">
									<a class="first__img" href="/detail/<%= pro.unsignedName%>.<%= pro._id%>.<%= pro.cateId%>.html"><img src="upload/<%= pro.image %>" alt="product image"></a>
									<!-- <a class="second__img animation1" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a> -->
									<div class="hot__box">
										<span class="hot-label"><%= ca.name %></span>
									</div>
								</div>
								<div class="product__content content--center">
									<h4><a href="/detail/<%= pro.unsignedName%>.<%= pro._id%>.<%= pro.cateId%>.html"><%= pro.name %></a></h4>
									<ul class="prize d-flex">
										<li><%= pro.price %> đ</li>
										<!-- <li class="old_prize"><%= pro.price  + parseInt(50000) %> đ</li> -->
									</ul>
									<div class="action">
										<div class="actions_inner">
											<ul class="add_to_links">
												<li><a class="cart" href="/add-cart.<%= pro._id %>"><i class="bi bi-shopping-cart-full"></i></a></li>
												<!-- <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li> -->
												<!-- <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li> -->
												<!-- <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li> -->
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>
						<% }}})%>
           				 <% })%>
	
	
	
					</div>
			</div>
		</section>

		<!-- End NEwsletter Area -->
		<!-- Start Best Seller Area -->
        <section class="wn__product__area brown--color pt--80  pb--30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__title text-center">
                                <h2 class="title__be--2">Tất cả<span class="color--theme"> Sản phẩm</span></h2>
                                <p>Tất cả sản phẩm với những biến thể có sẵn</p>
                            </div>
                        </div>
					</div>
					<br>
					<br>
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
							<div class="row">
									<%   cate.forEach(function(ca){ var id = 0; %>
										<%  product.forEach(function(pro){ if(id < 5) { if(pro.cateId == ca._id){ id ++ ; %>
								<div class="product product__style--3 col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product__thumb">
										<a class="first__img" href="/detail/<%= pro.unsignedName%>.<%= pro._id%>.<%= pro.cateId%>.html"><img src="upload/<%= pro.image %>" alt="product image"></a>
	
										<div class="hot__box">
											<span class="hot-label"><%= ca.name %></span>
										</div>
									</div>
									<div class="product__content content--center content--center">
										<h4><a href="/detail/<%= pro.unsignedName%>.<%= pro._id%>.<%= pro.cateId%>.html"><%= pro.name %></a></h4>
										<ul class="prize d-flex">
											<li><%= pro.price %> đ</li>
											<!-- <li class="old_prize"><%= pro.price %> đ</li> -->
										</ul>
										<div class="action">
											<div class="actions_inner">
												<ul class="add_to_links">
													<li><a class="cart" href="/add-cart.<%= pro._id %>"><i class="bi bi-shopping-cart-full"></i></a></li>
													<!-- <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li> -->
													
												</ul>
											</div>
										</div>
	
									</div>
								</div>
								<% }}})%>
								   <% })%>
								
								</div>

						</div>
                </div>
            </section>
		<!-- Start BEst Seller Area -->
		<!-- Start Recent Post Area -->
		<section class="wn__recent__post bg--gray ptb--80">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">Blog <span class="color--theme">Của tôi</span></h2>
							<p>Sách không đơn thuần chỉ là những trang giấy mà trong đó còn chứa đựng một thế giới mà con người luôn khao khát được khám phá.</p>
						</div>
					</div>
				</div>
				<div class="row mt--50">
					<div class="col-md-6 col-lg-4 col-sm-12">
						<div class="post__itam">
							<div class="content">
								<h3><a href="#">Henry David Thoreau</a></h3>
								<p>Một cuốn sách thực sự hay dạy tôi nhiều điều hơn là đọc nó. Tôi phải nhanh chóng đặt nó xuống, bắt đầu sống theo những điều nó chỉ dẫn. Điều tôi bắt đầu bằng cách đọc, tôi phải kết thúc bằng hành động.</p>
								<div class="post__time">
									<span class="day">19 tháng 5 năm 2019</span>
									<!-- <div class="post-meta">
										<ul>
											<li><a href="#"><i class="bi bi-love"></i>72</a></li>
											<li><a href="#"><i class="bi bi-chat-bubble"></i>27</a></li>
										</ul>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-sm-12">
						<div class="post__itam">
							<div class="content">
								<h3><a href="#">Mark Twain</a></h3>
								<p> Một người không đọc sách chẳng hơn gì kẻ không biết đọc.
								</p><p> Person who won’t read has no advantage over one who can’t read.</p>
								<div class="post__time">
									<span class="day">18 tháng 5 năm 2019</span>
									<!-- <div class="post-meta">
										<ul>
											<li><a href="#"><i class="bi bi-love"></i>72</a></li>
											<li><a href="#"><i class="bi bi-chat-bubble"></i>27</a></li>
										</ul>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-sm-12">
						<div class="post__itam">
							<div class="content">
								<h3><a href="#"> Louisa May Alcott</a></h3>
								<p>Sách hay, cũng như bạn tốt, ít và được chọn lựa; chọn lựa càng nhiều, thưởng thức càng nhiều.</p>
								<p>Good books, like good friends, are few and chosen; the more select, the more enjoyable.</p>
								<div class="post__time">
									<span class="day">18 tháng 7 năm 2019</span>
									<!-- <div class="post-meta">
										<ul>
											<li><a href="#"><i class="bi bi-love"></i>72</a></li>
											<li><a href="#"><i class="bi bi-chat-bubble"></i>27</a></li>
										</ul>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Recent Post Area -->
		<!-- Best Sale Area -->

        <!-- Best Sale Area Area -->
<% include ./layout/footer.ejs %>
        