<% include ./layout/header.ejs %>
<base href="http://localhost:3000/" />
 
<div class="ht__bradcaump__area ">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <!-- <div class="bradcaump__inner text-center">
                  <h2 class="bradcaump-title">Giỏ hàng</h2>
                  <nav class="bradcaump-content">
                    <a class="breadcrumb_item" href="/">Trang chủ</a>
                    <span class="brd-separetor">/</span>
                    <span class="breadcrumb_item active">Giỏ hàng</span>
                  </nav>
              </div> -->
          </div>
      </div>
  </div>
</div>
<div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="icon-check_circle display-3 text-success"></span>
              <h2 class="display-3 text-black">Cảm ơn!</h2>
              <p class="lead mb-5">Đơn hàng của bạn đã đặt thành công.</p>
              <p><a href="/" class="btn btn-sm height-auto px-4 py-3 btn-primary">Quay trở lại shop</a></p>
            </div>
          </div>
        </div>
      </div>


<!-- <% include ./layout/footer.ejs %> -->
