<% include ./layout/header.ejs %>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--7">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Sản phẩm</h2>
                                <nav class="bradcaump-content">
                                  <a class="breadcrumb_item" href="/">Trang chủ</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb_item active">Sản phẩm</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
            <!-- Start main Content -->
            <div class="maincontent bg--white pt--80 pb--55">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-12">
                            <div class="wn__single__product">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="wn__fotorama__wrapper">
                                            <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                                  <a href="1.jpg"><img src="upload/<%= product.image%>" alt=""></a>
                                                  <!-- <a href="2.jpg"><img src="images/product/2.jpg" alt=""></a>
                                                  <a href="3.jpg"><img src="images/product/3.jpg" alt=""></a>
                                                  <a href="4.jpg"><img src="images/product/4.jpg" alt=""></a>
                                                  <a href="5.jpg"><img src="images/product/5.jpg" alt=""></a>
                                                  <a href="6.jpg"><img src="images/product/6.jpg" alt=""></a>
                                                  <a href="7.jpg"><img src="images/product/7.jpg" alt=""></a>
                                                  <a href="8.jpg"><img src="images/product/8.jpg" alt=""></a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="product__info__main">
                                            <h1><%= product.name%></h1>

                                            <div class="price-box">
                                                <span>Giá: <%= product.price%> đ</span>
                                            </div>
                                                <p>Tác giả: <%= product.author%></p>
                                            <div class="product__overview">
                                                <p>Chi tiết sản phẩm: <%= product.describe%></p>
                                            </div>
                                            <div class="box-tocart d-flex">
                                                <!-- <span>Số lượng</span>
                                                <input id="qty" class="input-text qty" name="qty" min="1" value="1" title="Qty" type="number"> -->
                                                <div class="addtocart__actions">
                                                   <a href ="/add-cart.<%= product._id %>"> <button class="tocart" title="">Thêm vào giỏ hàng</button></a>
                                                </div>
                                                <div class="product-addto-links clearfix">
                                                    <!-- <a class="wishlist" href="#"></a> -->
                                                    <!-- <a class="compare" href="#"></a> -->
                                                </div>
                                            </div>
                                            <div class="product_meta">
                                                <span class="posted_in">Thẻ tag: 
                                                    <% cate.forEach(function(ca){ %>
                                                        <a href="/cate/<%= ca.unsignedName %>.<%= ca._id%>.html"><%= ca.name%></a>,
                                                    <%})%>
                                                </span>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        
    
                        </div>
                        <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                            <div class="shop__sidebar">
                                <aside class="wedget__categories poroduct--cat">
                                    <h3 class="wedget__title">Danh mục sản phẩm</h3>
                                    <ul>
                                        <% cate.forEach(function(ca){ %>
                                            <li><a href="/cate/<%= ca.unsignedName %>.<%= ca._id%>.html"><%= ca.name%></a></li>
                                        <%})%>
                                    </ul>
                                </aside>
    <!--         					<aside class="wedget__categories pro--range">
                                    <h3 class="wedget__title">Filter by price</h3>
                                    <div class="content-shopby">
                                        <div class="price_filter s-filter clear">
                                            <form action="#" method="GET">
                                                <div id="slider-range"></div>
                                                <div class="slider__range--output">
                                                    <div class="price__output--wrap">
                                                        <div class="price--output">
                                                            <span>Price :</span><input type="text" id="amount" readonly="">
                                                        </div>
                                                        <div class="price--filter">
                                                            <a href="#">Filter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </aside>
     -->
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% include ./layout/footer.ejs %>
