<% include ../layout/header.ejs %>

<base href="http://localhost:3000/" />
<div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Bảng danh mục</h2>
                           
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên</th>
                                        <!-- <th>Unsigned Name</th> -->
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var id = 0 %>
                                    <% data.forEach(function(it){ id ++%>
                                    <tr>
                                        <td><%= id%></td>
                                        <td><%= it.name%></td>
                                        <td>
                                            <a href="/user/cart/<%= it._id %>/view-cart.html">Xem</a> |  
                                            <a href="/user/cart/<%= it._id %>/delete-cart.html" onclick="return confirm('Bạn có chắc chắn xóa không ?')">Xoá</a> 
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../layout/footer.ejs %>