<% include ../layout/header.ejs %>

<base href="http://localhost:3000/" />
<div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Bảng thông tin</h2>
                           
                        </div>
                        <div class="content-body" style="margin-left:10px;">
                            <style>
                                p {
                                    color:  black;
                                }
                            </style>
                            <div>
                                <p><strong>Tên: </strong> <%= cart.name %> </p>
                            </div>
                            <div>
                                <p><strong>Số điện thoại: </strong> <%= cart.sdt %></p>
                            </div>
                            <div>
                                <p><strong>Email: </strong> <%= cart.email %></p>
                            </div>
                            <div>
                                <p><strong>Ghi chú: </strong> <%= cart.ghichu %></p>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Hình</th>
                                        <th>Số Lượng</th>
                                        <th>Giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var id = 0; var total = 0 %>
                                    <% cart.cart.forEach(function(item){ id ++; total += item.tien;%>
                                    <tr>
                                        <td><%= id%></td>
                                        <td><%= item.item.name%></td>
                                        <td> <img src="upload/<%= item.item.image%>" width="150px" alt=""></td>
                                        <td><%= item.soluong%></td>
                                        <td><%= item.item.price%> đ</td>
                                        <td><%= item.tien.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> đ</td>
                                    </tr>
                                    <%})%>
                                    <tr>
                                        <td colspan="6">
                                            <% if(cart.st == 0){ %>
                                                <a href="/user/cart/<%= cart._id %>/pay-cart.html"onclick="return confirm('Xác nhận thanh toán ?')">Thanh Toán</a>
                                            <%}else{ %>
                                                <span>Đã Thanh Toán</span>
                                            <%}%> | 
                                            <a href="/user/cart/<%= cart._id %>/delete-cart.html" onclick="return confirm('Bạn có chắc chắn xóa không ?')">Xoá</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <p><strong style="color:red">Tồng Tiền: </strong> <%= total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %>đ</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../layout/footer.ejs %>