<% include ../layout/header.ejs %>

<base href="http://localhost:3000/" />

<div class="main-menu-area mg-tb-40">
        <div class="container">
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap mg-t-30">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h2>Sửa danh mục</h2>
                        </div>
                        <% if(success_msg != ''){ %> 
                            <div class="alert alert-success"><%= success_msg%></div>
                       <% } %>
                        <% if(errors) { %>
                        <div class="alert alert-danger">
                            <% errors.forEach(function(e){ %>

                                <%= e.msg %> <br/>
                            <%});%>

                        </div>
                        <% };%>
                        <div class="row">
                            <form action="" method="post">
                            <div class="col-lg-12 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-example-int form-example-st">
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control input-sm" id="name" name="name" value="<%= data.name%>" placeholder="Nhập danh mục">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="col-lg-12 col-md-4 col-sm-3 col-xs-12">
                                <div class="form-example-int">
                                    <button class="btn btn-success notika-btn-success" type="submit">Sửa</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
<% include ../layout/footer.ejs %>
