  <!-- End Footer area-->
    <!-- jquery
    

        ============================================ -->
        <base href="http://localhost:3000/" />
        <script src="admin/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="admin/js/bootstrap.min.js"></script>
        <!-- wow JS
            ============================================ -->
        <script src="admin/js/wow.min.js"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="admin/js/jquery-price-slider.js"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="admin/js/owl.carousel.min.js"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="admin/js/jquery.scrollUp.min.js"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="admin/js/meanmenu/jquery.meanmenu.js"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="admin/js/counterup/jquery.counterup.min.js"></script>
        <script src="admin/js/counterup/waypoints.min.js"></script>
        <script src="admin/js/counterup/counterup-active.js"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- jvectormap JS
            ============================================ -->
        <script src="admin/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="admin/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="admin/js/jvectormap/jvectormap-active.js"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="admin/js/sparkline/jquery.sparkline.min.js"></script>
        <script src="admin/js/sparkline/sparkline-active.js"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="admin/js/flot/jquery.flot.js"></script>
        <script src="admin/js/flot/jquery.flot.resize.js"></script>
        <script src="admin/js/flot/curvedLines.js"></script>
        <script src="admin/js/flot/flot-active.js"></script>
        <!-- knob JS
            ============================================ -->
        <script src="admin/js/knob/jquery.knob.js"></script>
        <script src="admin/js/knob/jquery.appear.js"></script>
        <script src="admin/js/knob/knob-active.js"></script>
        <!--  wave JS
            ============================================ -->
        <script src="admin/js/wave/waves.min.js"></script>
        <script src="admin/js/wave/wave-active.js"></script>
       
        <script src="admin/js/todo/jquery.todo.js"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="admin/js/plugins.js"></script>
        <!--  Chat JS
            ============================================ -->
        <script src="admin/js/chat/moment.min.js"></script>
        <script src="admin/js/chat/jquery.chat.js"></script>
        <!-- main JS
            ============================================ -->
        <script src="admin/js/main.js"></script>
        <!-- tawk chat JS
            ============================================ -->
        <!-- <script src="admin/js/tawk-chat.js"></script> -->
        <script type="text/javascript">
            $(document).ready(function(){
               $.post(
                    './user/getUser',
                    {

                    },function(data){
                      $('img.avatar').attr('src', 'upload/' + data.img);
                      $('.name').html(data.fullname);
                    }
                )
            });
        </script>


<script type="text/javascript">
    $('#price').on('input', function(e){        
        $(this).val(formatCurrency(this.value.replace(/[,VNĐ]/g,'')));
    }).on('keypress',function(e){
        if(!$.isNumeric(String.fromCharCode(e.which))) e.preventDefault();
    }).on('paste', function(e){    
        var cb = e.originalEvent.clipboardData || window.clipboardData;      
        if(!$.isNumeric(cb.getData('text'))) e.preventDefault();
    });
    function formatCurrency(number){
        var n = number.split('').reverse().join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&,");    
        return  n2.split('').reverse().join('');
    }
</script>
        
    </body>
    
    </html>