<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:3000/" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang quản lý</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css">
    <link rel="stylesheet" href="admin/css/owl.theme.css">
    <link rel="stylesheet" href="admin/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><img src="admin/mg/logo/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
         
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-menu"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd chat-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Tài khoản</h2>
                                    </div>
   
                                    <div class="hd-mg-va">
                                        <a href="/logout.html">Đăng xuất</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Danh mục</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="user/cate/add-cate.html">Thêm Danh mục</a></li>
                                        <li><a href="user/cate">Danh sách danh mục</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Sản phẩm</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="user/product/add-product.html">Thêm sản phẩm</a></li>
                                        <li><a href="user/product/list-product.html">Danh sách sản phẩm</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Đơn hàng</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="user/cart">Danh sách đơn hàng</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li ><a href="user/cate/add-cate.html"><i class="notika-icon notika-house"></i>Thêm Danh mục</a>
                        </li>

                        <li ><a  href="user/cate"><i class="notika-icon notika-windows"></i> Danh sách danh mục</a>
                        <li ><a  href="user/product/add-product.html"><i class="notika-icon notika-windows"></i> Thêm sản phẩm</a>
                        <li><a  href="user/product/list-product.html"><i class="notika-icon notika-windows"></i> Danh sách Sản phẩm</a>
                        </li>
                        <li><a  href="user/cart"><i class="notika-icon notika-form"></i> Đơn hàng</a>
                        </li>
   
                    </ul>
                    <!-- <div class="tab-content custom-menu-content"> -->
                        <!-- <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="user/cate/add-cate.html">Thêm danh mục</a>
                                </li>
                                <li><a href="user/cate">Danh sách danh mục</a>
                                </li>
                 
                            </ul>
                        </div>

                        <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="user/product/add-product.html">Thêm sản phẩm</a>
                                </li>
                                <li><a href="user/product/list-product.html">Danh sách sản phẩm</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Forms" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="user/cart">Danh sách đơn hàng</a>
                                </li>
                            </ul>
                        </div> -->
  
                    </div>
                </div>
            </div>
        </div>
    </div>