
<% include ../layout/header.ejs %>
<base href="http://localhost:3000/" />



<div class="main-menu-area mg-tb-40">
    <div class="container">

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Sản phẩm</strong>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Sửa sản phẩm</h3>
                                </div>
                                <% if(success_msg != ''){ %> 
                                    <div class="alert alert-success"><%= success_msg%></div>
                               <% } %>
                                <% if(errors) { %>
                                <div class="alert alert-danger">
                                    <% errors.forEach(function(e){ %>

                                        <%= e.msg %> <br/>
                                    <%});%>

                                </div>
                                <% };%>
                                <form action="" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="name" class="control-label mb-1">Tên sản phẩm</label>
                                        <input id="name" name="name" type="text" class="form-control" aria-required="true" aria-invalid="false" value="<%= product.name%>">
                                    </div>
                                    <div class="form-group">
                                        <label for="author" class="control-label mb-1">Tác giả</label>
                                        <input id="author" name="author" type="text" class="form-control" aria-required="true" aria-invalid="false" value="<%= product.author%>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-120334">Hình</label>
                                        <span class="desc"></span><br/>
                                        <img src="upload/<%= product.image%>" width="200px">
                                        <div class="controls">
                                            <input type="file" id="image" value="upload/<%= product.image %>" required="required" class="form-control" name="image">
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                                            <label class="form-label" for="field-120334">Giá</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="text" id="price" value="<%= product.price%>" min="0" class="form-control" name="price">
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label class="form-label" for="field-120334">Thể Loại</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <select class="form-control" id="cate" name="cate">
                                                    <% cate.forEach(function(item){ %> 
                                                        <option value="<%= item._id%>" <%= (item._id == product.cateId) ? 'selected=\"selected\"' : ''%> ><%= item.name%></option>
                                                    <%})%>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="describe" class="control-label mb-1">Chi Tiết Sản Phẩm</label>
                                            <input id="describe" name="describe" type="text" class="form-control" aria-required="true" aria-invalid="false" value="<%= product.describe%>">
                                        </div>
                                    <div>
                                    <div>
                                        <button id="payment-button" type="submit" class="btn btn-success notika-btn-success">
                                            <span id="payment-button-amount">Sửa</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div> <!-- .card -->

            </div>

    </div>
</div><!-- .animated -->
</div><!-- .content -->
</div><!-- /#right-panel -->
<!-- Right Panel -->
<% include ../layout/footer.ejs %>
