<% include ../layout/header.ejs %>

<base href="http://localhost:3000/" />
<div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Bảng sản phẩm</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Tên danh mục</th>
                                        <th>Hình ảnh</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var id = 0 %>
                                    <% product.forEach(function(item){ id ++ %>
                                    <tr>
                                        <td><%= id%></td>
                                        <td><%= item.name%></td>
                                        <td><%= item.nameCate%></td>
                                        <td> <img src="upload/<%= item.image%>" width="100px" alt=""></td>
    
                                        <td>
                                            <a href="/user/product/<%= item._id %>/delete-product.html" onclick="return confirm('Bạn có chắc chắn xóa không ?')">Xoá</a> | 
                                            <a href="/user/product/<%= item._id %>/edit-product.html">Sửa</a>
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../layout/footer.ejs %>